# meta
.vscode/
__pycache__/

# data
data/*
!train.csv
!test.csv

# generated
log/*
!log/kgram/YouroQ/*
tmp/
*.7z

# repo
repo/*
!repo/*.cmd

# thesis
ref/*
!ref/*.cmd
!ref/Question-ML.png
!ref/YouroNet.pdf
!ref/YouroQNet.pptx
!ref/report.md
