# core libs; fix versions as the contest requires
pyqpanda==3.7.16
pyvqnet==2.0.6

# auxiliary libs
pandas
numpy==1.23.5
matplotlib

# analytic libs (only for scaffold use)
jieba
wordcloud
scikit-learn
scikit-learn-intelex
